/*Фон*/
body {color: rgb(33,33,33);
	background-color: rgb(133,133,133);
	font-family: arial;
	}	

.blok1{background-color: rgb(249, 249, 249);
	border-radius: 0.5vw;
	width: 100%;
	height: clamp(3vw, 11vw, 8vw);
	position: absolute;
	z-index: -1;
	top: -1vh;
	left: 0vw;
	}


/*Панель перехода между страниц*/
.Glav{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(14px, 2.5vw, 30px);
	z-index: 2;
	top: 40%;
	left: 2vw;	
}
.Blog{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(14px, 2.5vw, 30px);
	z-index: 2;
	top: 40%;
	left: 22vw;
}

.Kont{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(14px, 2.5vw, 30px);
	z-index: 2;
	top: 40%;
	left: 35vw;
}
.Obo_{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(14px, 2.5vw, 30px);
	z-index: 2;
	top: 40%;
	left: 52vw;	
}
.Port{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(14px, 2.5vw, 30px);
	z-index: 2;
	top: 40%;
	left: 70vw;	
}


