/*Фон*/
body {color: rgb(33,33,33);
	background-color: rgb(133,133,133);
	font-family: arial;
	}	

.blok1{background-color: rgb(249, 249, 249);
	border-radius: 0.5vw;
	width: 100%;
	height: clamp(3vw, 11vw, 8vw);
	position: absolute;
	z-index: -1;
	top: -1vh;
	left: 0vw;
	}


/*Панель перехода между страниц*/
.Glav{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(0.8vw, 4vw, 2vw);
	z-index: 2;
	top: 3vw;
	left: 2vw;	
}
.Blog{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(0.8vw, 4vw, 2vw);
	z-index: 2;
	top: 3vw;
	left: 22vw;
}

.Kont{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(0.8vw, 4vw, 2vw);
	z-index: 2;
	top: 3vw;
	left: 35vw;
}
.Obo_{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(0.8vw, 4vw, 2vw);
	z-index: 2;
	top: 3vw;
	left: 52vw;	
}
.Port{color: rgb(33,33,33);
	position: absolute;
	font-size: clamp(0.8vw, 4vw, 2vw);
	z-index: 2;
	top: 3vw;
	left: 70vw;	
}

/*Изоброжения*/
.Pijpg img{
	border-radius: 100%;
	width: 20vw;
	height: auto;
	position: absolute;
	left: 75vw;
	top: clamp(10.5vw, 4vw, 17.5vw);
}

.P1jpg img{
	width: 15vw;
	height: auto;
	position: absolute;
	top: 30vh;
	left: 2vw;
}

.P2jpg img{
	width: 20vw;
	height: auto;	
	position: absolute;
	top: 30vh;
	left: 18vw;
}

.P3jpg img{
	width: 20vw;
	height: auto;	
	position: absolute;
	top: 52vh;
	left: 18vw;
}

.P4jpg img{
	width: 27vw;
	height: auto;	
	position: absolute;
	top: 34vh;
	left: 39vw;
}

.S5jpg img{
	width: 28vw;
	height: auto;	
	position: absolute;
	top: 77vh;
	left: 3.5vw;
}

.S6jpg img{
	width: 28vw;
	height: auto;	
	position: absolute;
	top: 108vh;
	left: 3.5vw;
}

.S7jpg img{
	width: 30vw;
	height: auto;	
	position: absolute;
	top: 83vh;
	left: 34.5vw;
}

.H8jpg img{
	width: 27.5vw;
	height: auto;	
	position: absolute;
	top: 146vh;
	left: 2.5vw;	
}

.H9jpg img{
	width: 27vw;
	height: auto;	
	position: absolute;
	top: 181vh;
	left: 9vw;	
}

.H10jpg img{
	width: 28vw;
	height: auto;	
	position: absolute;
	top: 146vh;
	left: 31vw;	
}

.H11jpg img{
	width: 27vw;
	height: auto;	
	position: absolute;
	top: 181vh;
	left: 37vw;	
}

.Y12jpg img{
	width: 28.8vw;
	height: auto;	
	position: absolute;
	top: 254vh;
	left: 2vw;	
}

.Y13jpg img{
	width: 37vw;
	height: auto;	
	position: absolute;
	top: 216vh;
	left: 15vw;	
}

.Y14jpg img{
	width: 34vw;
	height: auto;	
	position: absolute;
	top: 254vh;
	left: 32vw;	
}



/*___________________*/


