{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Фотографии путешествиннека: Обо мне</title>
	<link rel="stylesheet" href="{% static '/pril_test_site/Csh.css' %}">
</head>
<body class = "Text">
	<h2 class = 'blok1'>
		<a href="/"><span class="dom">Главная</span></a>
		<a href="/portfolio"><span class="portfolio">Портфолио</span></a>
		<a href="/my"><span class="my">Обо мне</span></a>
		<a href="/blog"><span class="blog">Блог</span></a>
		<a href="/kontakt"><span class="kontakt">Контакт</span></a>
	</h2>






	<div class = 'blok2'>
		<p class = "Textt">Автор:Самый сексуальный мужик в мире</p>
		<p class = "Textt">Художник:Какойто мужик и нейронка</p>
		<p class = "Textt">Автор идеи:Пубертатная язва</p>
	</div>
</body>
</html>